body {
    min-height: 100vh;
    margin: 0;
    background-color: #ececec;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
footer {
    min-height: 100px;
    background-color: #e1e1e1;
    display: table;
}

.logos {
    display: table-cell;
}
.logo {
    height: 70px;
    padding: 5px;
}

#map { 
    height: 80vh; 
    width: 100%; 
    margin-top: 20px; 
}

.timeFilter {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}